/*---- dark orange: #cf6d17;
normal orange:#e67e22;-----*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-family: lato;
   
}

header{
    background-color: #19456b;
}



h1{
    font-weight: 300;
    text-align: center;

}

h1:after{
    display:block;
    content:" ";
    height:2px;
    
    background-color: #e67e22;
    width:100px;
    margin:0 auto;
    margin-top:30px;
}

h2{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
}

/*---REUSABLE---*/

.row{
    margin:0 auto;
    max-width: 1140px;
}

.users-navbar li{
    /*--display: inline-block;--*/
    float:right;
    
    font-size: 18px;
    font-weight: 300;
    padding:10px;
    text-transform: uppercase;
    list-style: none;
    margin-right: 5px;
    margin-top:10px;
    margin-bottom: 10px;
}

.nav-link:link,
.nav-link:visited{
    color:#ffffff;
    text-decoration: none;
    padding:10px;  
    padding-bottom: 16px;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.5s color 0.5s;
}

.nav-link:hover,
.nav-link:active{

    padding:10px;
    padding-bottom: 15px;
    border-bottom:4px solid  #a9294f;
}

/*---TABLE----*/

#my-table{
    margin:40px auto;
    font-size:18px ;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
  }
  th{
      font-weight: 400;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}

  .select-bar{
      
      margin-top:30px;
      margin-bottom: 30px;
      
  }

  select{
    
    width:100%;
    padding:7px;
    border-radius:3px;
    border:1px solid #ccc;
}

.pay-amount{
    margin-bottom:30px;
}
input[type=text]{
    width:100%;
    padding:7px;
    border-radius: 3px;
    border:1px solid #ccc;
}

.btn-div{
    margin-top:10px;
    margin-left:43%;
}
.transfer-button{
    padding: 15px 20px;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color:#e67e22;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
    
}



.fixed-footer{
    width:100%;
    position: fixed;
    color:#fff;
    height:45px;
    bottom:0;
    background: rgb(43, 43, 43);
    font-weight: 300;

}
.container{
    margin-left:auto;
    margin-right:auto;
    padding:8px;
   
    margin-bottom: 30px;
    word-spacing: 2px;
    text-align: center;
}